{% extends 'layout2.html' %}

{% block content %}
    <h1>Ventas Acumuladas</h1>

    <form action="{{ url_for('ventas_acumuladas') }}" method="POST" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            {{ form.fecha.label }}
            {{ form.fecha(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.tipo.label }}
            {{ form.tipo(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    

    {% if ventas %}
        <h2>Ventas Acumuladas por {{ tipo }}</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Total Ventas</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.Fecha }}</td>
                        <td>${{ venta.TotalVentas }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay datos disponibles.</p>
    {% endif %}
{% endblock %}
